<ion-header>
  <ion-navbar color="primary">
    <ion-title>Medidor - {{ dataActividad.n9meco }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="labelAux">Medidor: </ion-label>
          <ion-label class="labelDatos">{{ dataActividad.n9meco }}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="labelAux">Cuenta: </ion-label>
          <ion-label class="labelDatos">{{ dataActividad.n9cocu }}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="labelAux">Cliente: </ion-label>
          <ion-label class="labelDatos">{{ dataActividad.n9cocl }}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="labelAux">Sector: </ion-label>
          <ion-label class="labelDatos">{{ dataActividad.n9cose }}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="labelAux">Ruta: </ion-label>
          <ion-label class="labelDatos">{{ dataActividad.n9coru }}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label text-wrap class="labelAux">Meses de retraso: </ion-label>
          <ion-label class="labelDatos">{{ dataActividad.n9plve }}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label text-wrap class="labelAux">Valor adeudado: </ion-label>
          <ion-label class="labelDatos">{{ dataActividad.n9vaca }}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="labelAux">Fecha: </ion-label>
          <ion-label class="labelDatos">{{ dataActividad.fecha }}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
            <label class="labelAux">Nombre: </label>
            <div text-wrap class="labelDatos">
              {{ dataActividad.n9nomb }}
            </div>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <label class="labelAux">Referencia 1: </label>
          <div text-wrap class="labelDatos">
            {{ dataActividad.n9refe }}
          </div>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <label class="labelAux">Referencia 2: </label>
          <div text-wrap class="labelDatos">
            {{ dataActividad.cusecu }}
          </div>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <label class="labelAux">Coordenadas: </label>
          <div text-wrap class="labelDatos">
            {{ dataActividad.latitud }} || {{ dataActividad.longitud }}
          </div>
        </ion-item>
      </ion-col>
    </ion-row>

  <form [formGroup]="tareaForm" (ngSubmit)="actualizarTarea()">
    <ion-row>
      <ion-col>
        <ion-item>
            <ion-label class="labelAux" fixed>Lectura:</ion-label>
            <ion-input type="number" formControlName="lectura"
            placeholder="Ingrese la lectura aquí"></ion-input>
        </ion-item>
        <ion-item *ngIf="tareaForm.get('lectura').errors && tareaForm.get('lectura').dirty">
          <p color="danger" ion-text *ngIf="tareaForm.get('lectura').hasError('required')">Campo requerido</p>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="labelAux" fixed>Fotografía:</ion-label>
          <ion-input type="text" formControlName="foto" readonly="true"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <button ion-button type="button" color="secondary" small (click)="takePhoto()">
            <ion-icon name="camera"></ion-icon>
          </button>
          <button *ngIf="myphoto" color="danger" ion-button type="button" small (click)="descartarFoto()">
            <ion-icon name="md-trash"></ion-icon>
          </button>

        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <img [src]="myphoto"  *ngIf="myphoto">
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item *ngIf="!myphoto">
          <p color="danger" ion-text *ngIf="!myphoto">Tome la foto del medidor</p>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <label class="labelAux">Observación: </label>
          <label ion-button class="btnObservacion" (click)="opcionesObservacion()">
            <ion-icon name="eye"></ion-icon>Elegir
          </label >
          <div text-wrap>
            {{ valorObservacion }}
          </div>
        </ion-item>
      </ion-col>
    </ion-row>

    <button ion-button type="submit" color="secondary" round [disabled]="!tareaForm.valid||!myphoto||!valorObservacion" block>Guardar Datos</button>

  </form>
  </ion-grid>
</ion-content>
