page-actividad {
  .labelAux{
    color: black;
    font-weight: bold;
    font-size: 12pt;
  }

  .labelDatos{
    font-size: 12pt;
    color: rgb(59, 59, 59);
  }

  .btnObservacion{
    background: chocolate;

  }

  .icon{
    margin-right: 5px;
  }

}
