<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Perfil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h5>Información personal:</h5>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--formulario-->
  <form [formGroup]="registerForm" (ngSubmit)="updatePerfil()">
    <ion-item>
      <ion-label class="labelAux" fixed>Cédula:</ion-label>
      <ion-input type="number"  formControlName="cedula" value="{{ user.cedula }}"></ion-input>
    </ion-item>
    <ion-item *ngIf="registerForm.get('cedula').errors && registerForm.get('cedula').dirty">
      <p color="danger" ion-text *ngIf="registerForm.get('cedula').hasError('required')">Campo requerido</p>
      <p color="danger" ion-text *ngIf="registerForm.get('cedula').hasError('minlength')">Cantidad mínima de caracteres (10)</p>
      <p color="danger" ion-text *ngIf="registerForm.get('cedula').hasError('maxlength')">Cantidad máxima de caracteres (10)</p>
    </ion-item>
    <ion-item>
      <ion-label class="labelAux" fixed>Nombres:</ion-label>
      <ion-input type="text"  formControlName="nombres" value="{{ user.nombres }}"></ion-input>
    </ion-item>
    <ion-item *ngIf="registerForm.get('nombres').errors && registerForm.get('nombres').dirty">
      <p color="danger" ion-text *ngIf="registerForm.get('nombres').hasError('required')">Campo requerido</p>
      <p color="danger" ion-text *ngIf="registerForm.get('nombres').hasError('maxlength')">Cantidad máxima de caracteres (45)</p>
    </ion-item>
    <ion-item>
      <ion-label class="labelAux" fixed>Apellidos:</ion-label>
      <ion-input type="text" formControlName="apellidos" value="{{ user.apellidos }}"></ion-input>
    </ion-item>
    <ion-item *ngIf="registerForm.get('apellidos').errors && registerForm.get('apellidos').dirty">
      <p color="danger" ion-text *ngIf="registerForm.get('apellidos').hasError('required')">Campo requerido</p>
      <p color="danger" ion-text *ngIf="registerForm.get('apellidos').hasError('maxlength')">Cantidad máxima de caracteres (60)</p>
    </ion-item>
    <br>
    <ion-row>
      <ion-col text-center>
        <button ion-button block type="submit" [disabled]="!registerForm.valid">Guardar</button>
      </ion-col>
    </ion-row>

  </form>
  <!--formulario-->
</ion-content>

