page-corte {
  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
    }

  .envio{
    background: #e06513,
  }

  .medidorItem{
    background: #14911e;
    color: aliceblue;
    height: 30px;
  }

  .info{
    text-align: center;
    font-weight: bold;
  }

  .btnGpx{
    background: #033447c0;
  }
}
