page-recmanual {
  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
    }

  .medidorItem{
    background: #14911e;
    color: aliceblue;
    height: 30px;
  }

  .envio{
    background: #e06513,
  }

}
