page-home {

    .imagen-camara{
        width: 200px; 
        height: 200px; 
        display: block; 
        margin: auto; 
        border-radius: 50%; 
        border: #BBBEC0 1px solid;
    }

    .foto-perfil{
        width: 200px; 
        height: 200px; 
        display: block; 
        margin: auto; 
        border-radius: 50%; 
        border: #BBBEC0 1px solid;
    }
}


