page-notificacion {
  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
    }

  .envio{
    background: #e06513,
  }

  .medidorItem{
    background: #14911e;
    color: aliceblue;
  }


}
