<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Notificaciones</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-grid>

      <ion-row>
        <ion-col col-auto>
            <button ion-button block round small (click)="guardarTareas()">
              Obtener y Guardar Tareas
            </button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <p>Buscar medidores:</p>
        </ion-col>
      </ion-row>

      <!--<ion-searchbar [(ngModel)]="searchTerm" placeholder="Buscar Medidor"
        (ionInput)="ingresarItemsParaFiltrar()"></ion-searchbar>-->

      <ion-row>
        <ion-col>

          <ion-searchbar [(ngModel)]="searchTerm" placeholder="Buscar Medidor"
           [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
          <ion-spinner *ngIf="searching" class="spinner-container"></ion-spinner>

          <ion-scroll scrollY="true" style="height:250px;">
            <ion-list inset>
              <ion-item ion-item *ngFor="let item of items " (click)="mostrarTareaNot()" icon-start>
                  <ion-icon name="list-box" item-start></ion-icon>{{ item.n9nomb }}
              </ion-item>
            </ion-list>
          </ion-scroll>
        </ion-col>
      </ion-row>

    </ion-grid>


</ion-content>
