<ion-header>
  <ion-navbar color="primary">
    <ion-title>Editar reconexión</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid>
      <!--formulario-->
      <form [formGroup]="registerForm" (ngSubmit)="actualizarRecManual()">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="labelAux" fixed>Fecha: </ion-label>
            <ion-input type="text"  formControlName="fecha" readonly="true"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="labelAux" fixed>Medidor:</ion-label>
            <ion-input class="labelDatos" type="number"  formControlName="medidor"></ion-input>
          </ion-item>
          <ion-item *ngIf="registerForm.get('medidor').errors && registerForm.get('medidor').dirty">
            <p color="danger" ion-text *ngIf="registerForm.get('medidor').hasError('required')">Campo requerido</p>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="labelAux" fixed>Lectura:</ion-label>
            <ion-input class="labelDatos" type="number"  formControlName="lectura"></ion-input>
          </ion-item>
          <ion-item *ngIf="registerForm.get('lectura').errors && registerForm.get('lectura').dirty">
            <p color="danger" ion-text *ngIf="registerForm.get('lectura').hasError('required')">Campo requerido</p>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="labelAux" fixed>Fotografía:</ion-label>
            <ion-input class="labelDatos" type="text" [ngModel]="fotoNombre" formControlName="foto" readonly="true"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <button ion-button type="button" small (click)="takePhoto()">
              <ion-icon name="camera"></ion-icon>
            </button>
            <button *ngIf="myphoto" color="danger" ion-button type="button" small (click)="descartarFoto()">
              <ion-icon name="md-trash"></ion-icon>
            </button>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <img [src]="myphoto"  *ngIf="myphoto">
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item *ngIf="!myphoto">
            <p color="danger" ion-text *ngIf="!myphoto">Tome la foto del medidor</p>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
          <ion-col>
            <ion-item>
              <label class="labelAux">Observación: </label>
              <label ion-button class="btnObservacion" (click)="opcionesObservacion()">
                <ion-icon name="eye"></ion-icon>Elegir
              </label >
              <div text-wrap>
                {{ valorObservacion }}
              </div>
            </ion-item>
          </ion-col>
        </ion-row>

      <button ion-button block type="submit" [disabled]="!registerForm.valid||!myphoto||!valorObservacion">Guardar</button>
      </form>
      <!--formulario-->
    </ion-grid>

  </ion-content>
